{% extends 'art_base.html' %}
{% block js %}
    <script type="text/javascript" charset="UTF-8" src="{{ url_for('static',filename='ue/ueditor.config.js') }}"></script>
    <script type="text/javascript" charset="UTF-8" src="{{ url_for('static',filename='ue/ueditor.all.js') }}"></script>
    <script type="text/javascript" charset="UTF-8" src="{{ url_for('static',filename='ue/lang/zh-cn/zh-cn.js') }}"></script>
    <script type="text/javascript" charset="UTF-8" src="{{ url_for('static',filename='we/wangEditor.js') }}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='we/wangEditor.css') }}">
{% endblock %}

{% block content %}
    <form action="" method="post">
{#        <div class="form-group">#}
{#            <label for="">标题</label>#}
{#        </div>#}
    </form>
{% endblock %}